<h1>Course Listing</h1>

<ul>
    <li>Code: CS111</li>
    <li>Name: Intro to CompSci</li>
    <li>Description: A Thourough Introduction to Computer Science</li>
</ul>

<ul>
    <li>Code: CS112</li>
    <li>Name: Intro to CompSci</li>
    <li>Description: A Thourough Introduction to Computer Science</li>
</ul>